# Frontend build & deps
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/coverage
frontend/cypress/videos/
frontend/cypress/screenshots/

# Frontend editor files
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea

# Virtual environment
venv

# Poetry
#backend/poetry.lock   # ❌ OPTIONAL: keep if you want always latest; ✅ RECOMMENDED: commit for reproducible builds
__pycache__/
*.pyc

# Docker
*.log
*.pid
*.seed
*.swp
docker-compose.override.yml  # local-only config
.env                         # root environment variables
# Ignore all env files
*.env


# VSCode / JetBrains
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db



# Ignore Requirement handeling outputs
/backend/app/requirement_handling/output/

# Ignore Playwright failure screenshots
backend/*.png